@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+NSW:wght@100..400&family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playwrite+AU+NSW:wght@100..400&family=Playwrite+DE+Grund:wght@100..400&display=swap');

body {
  font-family: "Playwrite AU NSW", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: #1a1a1a;
  color: #f5f5f5;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

#audio {
  visibility: hidden;
}

#image-container img {  
  width: 0px;
  height: auto;
  display: none;
}

#game {
  margin: 20px auto;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  max-width: 100%;
}

#title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 60px;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#options {
  text-align: center;
  margin-top: 20px;
}

button {
  position: relative;
  background-color: #444;
  color: #f5f5f5;
  border: none;
  padding: 15px 30px;
  margin: 15px;
  cursor: pointer;
  font-family: "Playwrite DE Grund", cursive;
  font-weight: 400;
  font-size: 24px;
  font-style: normal;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

button:hover {
  background-color: #555;
}

#image {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#container {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: black;
}

#StartScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #000000;
}

#startForm {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#startForm label {
  margin: 10px 0;
}

#startForm input {
  height: 50px;
  width: 400px;
  font-family: "Playwrite DE Grund", cursive;
  font-weight: 400;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  padding: 0 10px;
  border: 2px solid #444;
  border-radius: 5px;
  outline: none;
}

#continueButton {
  width: 430px;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 15px 30px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #444;
  color: #f5f5f5;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#continueButton:hover {
  background-color: #555;
}
