@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+NSW:wght@100..400&family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playwrite+AU+NSW:wght@100..400&family=Playwrite+DE+Grund:wght@100..400&display=swap');

body {
  font-family: "Playwrite AU NSW", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #1a1a1a;
  color: #f5f5f5;
  font-size: 40px;
  margin: 0;
  padding: 10px;
}
#game {
  margin: -20px 20px 15px 20px auto;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#title {
  font-family: "Bebas Neue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 80px;
  text-align: center;
}
#options {
  text-align: center;
}
button {
  background-color: #444;
  color: #f5f5f5;
  border: none;
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
  cursor: pointer;
  height: 50 px;
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
  align-items: center;
}
button:hover {
  background-color: #555;
}
#image {
  width: 100%;
  transition: opacity 3s ease-in-out;
}
#container {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: black;
}
#StartScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #000000;
}

#startForm {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#startForm label {
  margin: 5px 0;
}

#startForm input {
  margin: 5px 0;
  height: 50px;
  width: 400px;
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
  text-align: center;
}
