body {
  font-family: "Playwrite AU NSW", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #1a1a1a;
  color: #f5f5f5;
  font-size: 22px;
}
#game {
  width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#options {
  text-align: center;
}
#options button {
  background-color: #444;
  color: #f5f5f5;
  border: none;
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
  cursor: pointer;
  height: 30 px;
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
}
#options button:hover {
  background-color: #555;
}
#image {
  width: 800px;
  height: 600px;
}